* {
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

/* Default styles for ChatBox */
.chat-box {
  padding: 2%;
  background: #fff;
  font-family: 'Arial', sans-serif;
  color: #0D0F37;
  display: flex;
  flex-direction: column;
  min-height: 30vh;
}

/* Messages container */
.messages {
  flex-grow: 1;
  max-height: 50vh;
  overflow-y: auto;
  background: #fff;
  border-radius: 1%;
  padding: 2%;
}

/* Reduce the gap above the questions */
.suggestions {
  max-height: 20vh;
  background: #fff;
  position: relative;
  bottom: 0px;
  padding: 10px;
}

/* Make the image smaller with a fixed height in pixels */
.image-container img {
  padding-left: 2%;
  width: 80%;
  height: 30vh;
  border-radius: 1%;
}

/* Center the input horizontally and move it to the right */
.input-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #fff;
  margin: auto;
  padding: 2%;
  width: 80%;
  max-width: 100%;
}

input {
  flex: 1;
  padding: 2%;
  outline: none;
  width: 100%;
  text-align: center;
  background: #fff;
  color: #0D0F37;
}

input::placeholder {
  background: #fff;
  color: #0D0F37;
  text-align: initial;
  border: none;
}

input[type='text'] {
  background: #fff;
  color: #0D0F37;
  text-align: initial;
  border: 1.5px solid rgba(141, 141, 141, 0.78);
  box-shadow: 5px -4px 32px -18px rgba(0, 0, 0, 0.78);
  outline: none;
}

button {
  background-color: #fff;
  color: #0D0F37;
  border: none;
  padding: 2%;
  cursor: pointer;
  transition: background-color, border 0.2s;
  margin-right: 2%;
}

button:hover {
  border: 1px solid #0056b3;
  background-color: #0056b3;
}

/* Question buttons */
.question-button {
  background-color: #fff;
  color: #0D0F37;
  border: 1.5px solid #0D0F37;
  padding: 1%;
  margin: 1%;
  cursor: pointer;
  border-radius: 1%;
  box-shadow: 5px -4px 32px -18px rgba(0,0,0,0.78);
  transition: transform 0.2s, box-shadow 0.3s;
}

.question-button:hover {
  background-color: #0D0F37;
  color: #fff;
}

.Chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
}

.chat_comp{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 60vh;
  overflow-y: scroll;


}
/* Styles for chat bubbles */
.chatBlob {
  width: 90%;
  /* border-bottom: 1px solid #0056b3; */
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  position: relative;
  margin: 0px auto;
 
}
.chat_sec_comp{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 80%;
  margin: 0px auto;
}
.chatBlob img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  transform: scale(0.5);
  border: 1px solid #0056b3;
}


/* Styles for questions */
.chatBlob.question > div{
  flex-direction: row-reverse;
  /* justify-content: flex-end; */
}

.chatBlob.question img {
  order: 1;
}

.chatBlob.question div {
  order: 0;
}

/* Styles for answers */
.chatBlob.answer > div {
  flex-direction: row;
  /* justify-content: flex-start; */
}

.chatBlob.answer img {
  order: 1;
}

.chatBlob.answer div {
  order: 0;
}
