/* Default styles for ChatBox */
.chat-box {
  border: 2px solid #fff;
  border-radius: 1%;
  padding: 2%;
  margin: 0 auto;
  background: #0D0F37;
  box-shadow: 0 2% 5% rgba(0, 0, 0, 0.2);
  font-family: 'Arial', sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 30vh;
  position: relative;
}

/* Messages container */
.messages {
  flex-grow: 1;
  max-height: 50vh;
  overflow-y: auto;
  background: #0D0F37;
  border-radius: 1%;
  padding: 2%;
  box-shadow: inset 0 2% 4% rgba(0, 0, 0, 0.1);
}

/* Reduce the gap above the questions */
.suggestions {
  margin-top: 1%;
  max-height: 20vh;
  overflow-y: auto;
  background: #0D0F37;
  border-radius: 1%;
  padding: 1%;
  box-shadow: 0 2% 4% rgba(0, 0, 0, 0.1);
}

/* Make the image smaller with a fixed height in pixels */
.image-container img {
  padding-left: 2%;
  width: 80%;
  height: 30vh;
  border-radius: 1%;
}

/* Center the input horizontally and move it to the right */
.input-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #0D0F37;
  border-top: 2px solid #fff;
  border-radius: 1%;
  padding: 2%;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 80%;
  max-width: 100%;
  padding-left: 20%;
  box-shadow: 0 -2% 5% rgba(0, 0, 0, 0.2);
}

/* Reduce the gap between "Answer will appear here" and questions */
.answer-placeholder {
  background-color: #0D0F37;
  border: 2px solid #fff;
  border-radius: 1%;
  padding: 2%;
  height: auto;
  width: 100%;
  font-size: 1.6vw;
  margin: 0;
}

input {
  flex: 1;
  padding: 2%;
  border: 2px solid #fff;
  border-radius: 1%;
  outline: none;
  width: 100%;
  text-align: center;
  background: #0D0F37;
  color: #fff;
}

input::placeholder {
  background: #0D0F37;
  color: #fff;
  text-align: center;
}

button {
  background-color: #0D0F37;
  color: #fff;
  border: none;
  border-radius: 1%;
  padding: 2%;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-right: 2%;
}

button:hover {
  background-color: #0056b3;
}

/* Question buttons */
.question-button {
  background-color: #0D0F37;
  color: white;
  border: 2px solid #fff;
  padding: 1%;
  margin: 1%;
  cursor: pointer;
  border-radius: 1%;
  transition: transform 0.2s, box-shadow 0.3s;
}

.question-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1vh rgba(255, 255, 255, 0.5);
}

/* Media Queries */
/* Styles for screens up to 768px wide */
@media (max-width: 768px) {
  .chat-box {
    width: 90%;
  }
}
